* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

:root {
  --primary-color: #2586c7;
  --secondary-color: #24da4b;
}

body{
  background:linear-gradient(to bottom right, var(--primary-color),var(--secondary-color));
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container{
  margin: 50px 0;
  width: 500px;
}

.container-stats{
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
 
}

.stats li{
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}


.stats-text{
 background-color: #fff;
 padding: 4px;
 border-radius: 5px 0 0 5px;
}

.stats-value{
  background-color: var(--primary-color);
  padding: 4px;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.card{
  background-color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  height: 100%;
}

.card h2{
  margin-bottom: 15px;
  border-bottom: 2px solid var(--primary-color);
  line-height: 2;
}

.card-header{
  display: flex;
}

.todo-input{
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid rgba(27, 27, 27, .5);
}

.todo-button{
  padding: 7px 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba(27, 27, 27, .5);
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  transition: 300ms all;
}

.todo-button:hover{
  background-color: var(--secondary-color);
}

.todo-button:active{
  transform: scale(1.1);
}

.card-body{
  overflow-y:scroll;
  height: 85%;
  margin-top: 20px;
}

.todo-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 10px;
  border-bottom: 1px solid var(--primary-color);
}

.todo-item li{
  flex-grow: 1;
  text-align: left;
  cursor: default;
}

.todo-item i{
  cursor: pointer;
  margin: 0 5px;
  font-size: 17px;
}

.done li{
  text-decoration: line-through;
}
